.arkounay-ux-collection:not(.arkounay-ux-collection--no-highlight) .sortable-ghost > div {
    border: 2px solid #86b7fe !important;
}

.arkounay-ux-collection .collection-up, .arkounay-ux-collection .collection-down {
    color: #333333;
}

.arkounay-ux-collection .collection-remove:hover {
    color: red;
}

.arkounay-ux-collection .collection-up:hover, .arkounay-ux-collection .collection-down:hover {
    color: black;
}

.collection-hide-delete .collection-content {
    padding-top: 15px;
}

.arkounay-ux-horizontal-collection {
    position: relative;
    top: -15px;
    margin-bottom: -15px;
}

[data-controller='arkounay--ux-collection--collection'] .btn-close {
    background: transparent url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3E%3C/svg%3E") 50%/0.5rem auto no-repeat;
    position: relative;
    left: 5px;
    border-radius: 100%;
    transition: background-color linear 200ms;
}

[data-controller='arkounay--ux-collection--tabbed-collection'] .btn-close:hover {
    background-color: #cbd1d5;
}

[data-controller='arkounay--ux-collection--tabbed-collection'] .card {
    padding-top: 15px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-top: -1px;
}

[data-controller='arkounay--ux-collection--tabbed-collection'] > .nav-tabs .nav-link.active {
    font-weight: bold;
}

@media (min-width: 768px) {
    [data-controller='arkounay--ux-collection--tabbed-collection'] > .nav-tabs .nav-link svg {
        height: 32px;
    }
}